<div class="jumbotron text-center">
	<h1>¡Bienvenido a &#60;DevSchool&#62;</h1>
	<h3>El mejor lugar dónde emprendedores, desarrolladores e inversionistas pueden conocerse.</h3>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Membresía Básica</h2>
			<h4>Regístrate gratis y obtén acceso a nuestra comunidad.</h4>
			<br>
			<br>
			<%= link_to "Regístrate Plan Básico", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Membresía Pro</h2>
			<h4>Regístrate con una cuenta Pro por $1,200 al mes, ten acceso a nuestra comunidad,información de contacto y acceso a los archivos de los cursos.</h4>
			<%= link_to "Regístrate Plan Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-info btn-lg btn-block' %>
		</div>
	</div>
</div>