<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email</title>
</head>
<body>
	<p>Haz recibido un mensaje de DevSchools <%= "#{ @name }, #{ @email }." %></p>
	<p><%= @body %></p>
</body>
</html>