@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'font-awesome';

body{
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar{
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.navbar-inverse{
	border-color: transparent;
	
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: #1E8598;
}

.jumbotron {
	background: rgba(238, 238, 238, 0.24);
	color: white;
}

.well {
	background-color: rgba(238, 238, 238, 0.24);
	color: white;
	border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #0A2065;
}

a {
	color: black;
}

h1, p {
	color: white;
}














